@font-face {
  font-family: 'Recursive';
  src: url('../assets/fonts/Recursive-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*,
*:hover,
*:focus,
*:active {
  outline: none;
  box-shadow: none;
}

:root {
  --font-family:    'Recursive';
  --border-content: .3rem;
  --font-text:      1rem;
  --font-title:     1.36rem;
}

.light {
  --color-primary:       hsl(210, 44%, 92%);
  --color-primary-light: hsl(0, 0%, 98%);
  --color-primary-alt:   hsl(216, 24%, 56%);
  --color-disabled:      hsl(0, 0%, 58%);
  --color-text:          hsl(265, 13%, 26%);
}

.dark {
  --color-primary:       hsl(0, 0%, 16%);
  --color-primary-light: hsl(0, 0%, 22%); 
  --color-primary-alt:   hsl(216, 24%, 56%);
  --color-disabled:      hsl(0, 0%, 63%);
  --color-text:          hsl(0, 0%, 100%);
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-primary);
  /* background-image: radial-gradient(#FFDD94, #FA897B); */
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main_content {
  display: grid;
  width: 90%;
  max-width: 830px;
  row-gap: 2rem;
}
