.result {
  display: flex;
  border-radius: var(--border-content);
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--color-primary-light);
}

.result_icon {
  position: absolute;
  width: 2.2rem;
  top: 50%;
  right: .6rem;
  transform: translateY(-50%);
  stroke: var(--color-primary-alt);
}

.result_input {
  display: block; 
  width: 100%;
  padding: 1.4rem 3rem 1.4rem 1rem;
  cursor: pointer;
  font-size: var(--font-text);
  border: none;
}

.result_input:disabled {
  background-color: transparent;
  color: var(--color-text);
}

.result_input::placeholder {
  color: var(--color-disabled);
}
